name: Android CI

on:
  push:
    branches: [ "feature/initial-app-build-with-personalization" ]
  pull_request:
    branches: [ "feature/initial-app-build-with-personalization" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
